.menu-item-container{
    display:flex;
    color:black;
    margin-top: 60px;
    margin-bottom: 20px;
    justify-content: space-around;
    width:100%;

}

.first-column{
    display: flex;
    flex-direction: column;
    margin-right: 400px;
}

.second-column{
    display: flex;
    flex-direction: column;
}

hr{
    border-color:black;
    height: 5;
    width:70%;
}

.menu-item-name{
    font-size: 1.5rem;
    font-weight: bold;
}

.menu-item-description{
    color: #3a3a3a;
    font-style: italic;
    font-size: 1.1rem;
}

.menu-item-price{
    font-size: 1.4rem;
    color: #975c2b;
    font-weight: bold;
}

.first-row{
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.first-row input{
    width:25%;
    min-width: 40px;
}

.item-form{
    display:flex;
    flex-direction: column;
    align-items: flex-end;

}

.second-row{
    display: flex;
    justify-content: flex-end;
}

#amount-label{
    font-weight: bold;
    font-size: 1.1rem;
    padding-right: 30px;
}

.input-amount{
    border-radius: 5px;
}

.add-input{
    background-color: #6e2a18;
    color:white;
    border-radius: 15px;
    font-size: 1rem;
    font-weight: bold;
    width:140px;
    height:30px;
    border:none;
}

.add-input:hover{
    cursor:pointer;
}